{% extends 'base.html.twig' %}

{% block title %}Hello ModifProfilController!{% endblock %}

{% block body %}

    

    <form action="/modifProfil" method="post" id="profilForm">
        <label for="pseudo">Identifiant / Pseudo&nbsp;:</label>
        <div class="flexForm">
            <span class="iconify" data-icon="icon-park-twotone:game" style="color: white; font-size: 100px;"></span>
            <input type="text" id="pseudo" name="pseudo" />
        </div>
        
        <label for="password">Nouveau mot de passe&nbsp;:</label>
        <div class="flexForm">
            <span class="iconify" data-icon="icon-park-twotone:game" style="color: white; font-size: 100px;"></span>
            <input type="password" id="password" name="password" />
        </div>

        <label for="confirmPassword">Confirmer mot de passe :</label>
        <div class="flexForm">
            <span class="iconify" data-icon="icon-park-twotone:game" style="color: white; font-size: 100px;"></span>
            <input type="password" id="confirmPassword" name="confirmPassword" />
        </div>

        <label for="email">Adresse mail :</label>
        <div class="flexForm">
            <span class="iconify" data-icon="icon-park-twotone:game" style="color: white; font-size: 100px;"></span>
            <input type="email" id="email" name="email" />
        </div>
        <input type="submit" value="Valider">

        <label for="delete">Supprimer le profil :</label>
        <div class="flexForm">
            <span class="iconify" data-icon="icon-park-twotone:game" style="color: white; font-size: 100px;"></span>
            <input type="text" id="delete" name="delete" />
        </div>
        <input type="submit" value="Valider">
    </form>

{% endblock %}
