{% extends 'base.html.twig' %}

{% block title %}Mort index{% endblock %}

{% block body %}
    <h1>Mort index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Nom de la mort</th>
                <th>Compteur</th>
                
            </tr>
        </thead>
        <tbody>

        {% for mort in morts %}
            <tr>
                <td>{{ mort.username }}</td>
                <td>{{ mort.nom }}</td>
                <td>{{ mort.compteur }}</td>
            </tr>
        {% else %}
            <tr>
                <td>Aucune stats trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
