<form method="post" action="{{ path('app_user_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer le profil de {{app.user.username}} ? Cela supprimera le(s) score(s) dans le classement et toutes les récompenses associé à ce profil.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
    <button class="btn">Supprimer le profil</button>
</form>
