{% extends 'base.html.twig' %}

{% block title %} Mon Profil !{% endblock %}

{% block body %}

    <div id ="pacman">
        
      <span class="iconify" data-icon="icon-park-twotone:game" style="color: white; font-size: 100px;"></span>
        <div></div>
        <div></div>
        <div></div>

    </div>

    <section>
    
        <div class="btn">
              
            <div class="arrow"><p>Hub de {{app.user.getUsername}}<p></div>
       
       </div>

        <ul id="menu">
            
            <a href="#"><li>Scores</li></a>
            
            <a href="#"><li>Succès</li></a>
    
            <a href="{{ path('app_modif_profil', {'id': app.user.id}) }}"><li>Modifier le profil</li></a>
             
             {{ include('user/_delete_form.html.twig') }} 
        </ul>

        
        
    </section>

{% endblock %}
