/nbproject/private/
/projecttmp/
/www/.htaccess
/www/data
/www/config/config.php
/www/config/sgbd_config.php
/www/src/config/config.php
/www/src/config/sgbd_config.php
/cron/config_path.php
/error/config_path.php
/install/config_path.php
/www/my-project/.git/
