body {
    margin : 0;
    padding : 0;
    background-color: black;
}
#screenGame {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
#screenGame canvas {
    display: flex;
}
#utilisateur {
    position: absolute;
    margin-left: -335px;
    margin-top: 950px;
}