header{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background:  center no-repeat url("../media/PixelUpBackground.png");
}

header div{
    margin: 0 100px;
    width: 20%;
}

#pacman{
    margin: auto;
    width: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pacman div{
    background-color: white;
    height: 20px;
    width: 20px;
}

.btn {
    text-decoration: none;
    font-size: 1.4rem;
    color: #ff4754;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

.btn .arrow {
    margin-right: 1em;
    height: 0.2em;
    width: 20em;
    position: relative;
    background: #ff4754;
    transition: all 0.2s;
}

.btn .arrow::before,
.btn .arrow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: #ff4754;
  height: 0.2em;
  width: 1em;
}

.btn .arrow::before {
    transform: rotate(45deg);
    transform-origin: right bottom;
  }
  
  .btn .arrow::after {
    transform: rotate(-45deg);
    transform-origin: right top;
  }

  #menu{
    margin:  100px auto;
    width: fit-content;
    text-align: center;
  }

  #menu a:first-of-type li{
    background-color: #C23028;
  }

  #menu a:nth-of-type(2) li{
    background: #F6B339;
  }

  #menu a:nth-of-type(3) li{
    background: #0594D0;
  }

  #menu li{
    margin: 15px 0;
    padding: 5px;
    width: 100%;
    border: 2px solid black;
    transition: 0.2s;
    font-family: 'Silkscreen', cursive;
  }

  #menu li:hover{

    transform: scale(1.1);

  }

  footer ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  footer li{
    width: 60px;
    height: 60px;
    background-color: black;
    border: solid 7px white;
  }

  footer li:first-of-type{
    background-color: #77021D;
  }

  footer li:nth-of-type(2){
    background-color: #F6B339;
  }

  footer li:nth-of-type(3){
    background-color: #04BBFF;
  }

  footer li:nth-of-type(4){
    background-color: #003C57;
  }

  footer li:nth-of-type(5){
    background-color: #ACC27A;
  }

  footer li:nth-of-type(6){
    background-color: #6D594D;
  }
