{% extends 'base.html.twig' %}

{% block title %}Crédit{% endblock %}

{% block body %}

<style>
.coul1{
color:white;
}
</style>

<ul id="menu" class="coul1"> 



    <h1>Crédit</h1>


    <pre>

        <p>Ludovic Naulot</p> 
        <p>Javascript, Image,Animation, Audio, Front-End, Chef de troupe</p> 

    </pre>


    <pre>
        <p>Vanessa Geoffroid,</p> 
        <p>Javascript, Image, Animation, Audio, Front-End</p> 
    </pre>


    <pre>
        <p>Frederic Gauthier</p> 
        <p>Javascript, Image, Animation, Audio, Front-End</p> 
    </pre>


    <pre>
        <p>Loris Labarre </p> 
        <p>Symfony, Javascript, Animation, Audio, Front-End, Back-End</p> 
    </pre>


    <pre>
        <p>Emmanuel Giner </p> 
        <p>Symfony, Image, Audio, Front-End, Back-End, Chef d'idées</p> 
    </pre>



    </ul> 

{% endblock %}
