{% extends 'base.html.twig' %}

{% block title %}Utilisateur:{% endblock %}

{% block body %}

<!--Fichier à supprimier-->
        
            {{ include('user/_form.html.twig', {'<button_label': 'Valider'}) }}
        
            {{ include('user/_delete_form.html.twig') }}


 <a href="{{ path('app_modif_profil') }}">Revenir en arrière</a>


{% endblock %}
 