{% extends 'base.html.twig' %}

{% block title %}Hello PixelUpController!{% endblock %}

{% block body %}

    <div id ="pacman">
        
        <span class="iconify" data-icon="icon-park-twotone:game" style="color: white; font-size: 100px;"></span>
        <div></div>
        <div></div>
        <div></div>

    </div>

    <section>

        <div class="btn">
            <div class="arrow"></div>
        </div>

        <ul id="menu">
            <a href="#"><li>Lancer la partie</li></a>
            {% if app.user %}
                <a href="{{ path('app_score') }}"><li>Score / Classement</li></a>
                <a href="{{ path('app_profil') }}"><li>Profil</li></a>
                <a href="#"><li>Déconnexion</li></a>
            {% else %}
                <a href="{{ path('app_score') }}"><li>Classement</li></a>
                <a href="{{ path('app_login') }}"><li>Connexion/Inscription</li></a>
            {% endif %}
        </ul>
        
    </section>

{% endblock %}
