{% extends 'base.html.twig' %}

{% block title %}MonProfil !{% endblock %}

{% block body %}

{{dump()}}
    <div id ="pacman">
        
      <span class="iconify" data-icon="icon-park-twotone:game" style="color: white; font-size: 100px;"></span>
        <div></div>
        <div></div>
        <div></div>

    </div>

    <section>
    
        <div class="btn">
              
            <div class="arrow"><p>Hub de {{app.user.username}}<p></div>
        </div>

        <ul id="menu">
            
            <a href="#"><li>Scores</li></a>
            <a href="#"><li>Succès</li></a>
            <a href="">Modifier</a>
        </ul>

    
            <a href="#"><li>Scores</li></a>
            <a href="#"><li>Succès</li></a>

        
        </section>
{% endblock %}
