{% extends 'base.html.twig' %}

{% block title %}Hello PixelUpController!{% endblock %}

{% block body %}

<section id="succes">

    <h1>Statistiques et Succès</h1>

    <!-- TABLE AFFICHAGE DES SUCCES -->

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Se faire manger 250 fois par un requin</th>
                <th>Mourrir 500 fois d'une chute</th>
                <th>Percuter 350 astéroïdes</th>
            </tr>
        </thead>
        <tbody id="tbodySucces">
            <tr>


            {% for i in 0..2 %}

                {% if trueOrFalseSuccess[i] == true  %}
                    <td><iconify-icon icon="ic:outline-done" style="color: green;" width="50" height="50"></iconify-icon></td>
                {% else %}
                    <td><iconify-icon icon="emojione-v1:cross-mark" style="color: green;" width="30" height="30"></iconify-icon></td>
                {% endif %}


            {% endfor %}

                

            </tr>
        </tbody>
    </table>

    <!-- TABLE AFFICHAGE DE STATS MORTS -->

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la mort</th>
                <th>Compteur</th>
                <th>Nombre total de morts</th>
            </tr>
        </thead>
        <tbody>

        {{ dump(morts) }}

        {% for mort in morts %}
            <tr>
                <td>{{ mort.nom }}</td>
                <td>{{ mort.compteur }}</td>
                <td class="dnone" ROWSPAN="3">{{ totalMorts }}</td>
            </tr>

        {% else %}
            <tr>
                <td>Aucune stats trouvées</td>
            </tr>
        {% endfor %}


        </tbody>
    </table>

</section>

{% endblock %}