{% extends 'base.html.twig' %}

{% block title %}Hello PixelUpController!{% endblock %}

{% block body %}

<section id="succes">

    <h1>Succes</h1>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Mourrir 500 fois</th>
                <th>Atteindre un score de 1000</th>
                <th>Tomber 350 fois dans la lave</th>
                <th>Attendre 10 fois l'espace</th>
                <th>Se faire manger 10 fois par un requin</th>
            </tr>
        </thead>
        <tbody id="tbodySucces">
            <tr>
                <td><iconify-icon icon="ic:outline-done" style="color: green;" width="50" height="50"></iconify-icon></td>
                <td><iconify-icon icon="ic:outline-done" style="color: green;" width="50" height="50"></iconify-icon></td>
                <td><iconify-icon icon="emojione-v1:cross-mark" style="color: green;" width="30" height="30"></iconify-icon></td>
                <td><iconify-icon icon="emojione-v1:cross-mark" style="color: green;" width="30" height="30"></iconify-icon></td>
                <td><iconify-icon icon="emojione-v1:cross-mark" style="color: green;" width="30" height="30"></iconify-icon></td>
            </tr>
        </tbody>
    </table>

</section>

{% endblock %}