{% extends 'base.html.twig' %}

{% block title %}Hello PixelUpController!{% endblock %}

{% block body %}

    <section>

        <div class="btn">
            <div class="arrow"></div>
        </div>

        <ul id="menu">
            <a href="#"><li>Lancer la partie</li></a>
            <a href="#"><li>Scores</li></a>
            <a href="#"><li>Connexion/Inscription</li></a>
        </ul>
        
    </section>

{% endblock %}
