{% extends 'base.html.twig' %}

{% block title %}Hello PixelUpController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <header>
        <span class="iconify" data-icon="icon-park-outline:game-console" style="color: white; font-size: 100px;"></span>
        <div>
            <img src={{asset('media/pixelUp.png')}} width="20%">
        </div>
        <span class="iconify" data-icon="icon-park-outline:game-handle" style="color: white; font-size: 100px;"></span>
    </header>

    <section>
    
        <div id ="pacman">
        
            <span class="iconify" data-icon="icon-park-twotone:game" style="color: white; font-size: 100px;"></span>
            <div></div>
            <div></div>
            <div></div>

        </div>

        <div class="btn">
            <div class="arrow"></div>
        </div>

        <ul id="menu">
            <a href="#"><li>Lancer la partie</li></a>
            <a href="#"><li>Scores</li></a>
            <a href="#"><li>Connexion/Inscription</li></a>
        </ul>
        
    </section>

    <footer>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </footer>

{% endblock %}
