{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}


    <div id ="pacman">
        
        <span class="iconify" data-icon="icon-park-twotone:game" style="color: white; font-size: 100px;"></span>
        <div></div>
        <div></div>
        <div></div>

    </div>

    <section>
    
        <div class="btn">
            <div class="arrow"></div>
        </div>

        <ul id="menu">
            <a href="#"><li>Modifier le profil</li></a>
            <a href="#"><li>Scores</li></a>
            <a href="#"><li>Succès</li></a>
        </ul>
        
    </section>

{% endblock %}
