{% extends 'base.html.twig' %}

{% block title %}Hello PixelUpController!{% endblock %}

{% block body %}

<div class="scoreMenu">
    <a href="">Score personnel</a>
    <a href="">Classement</a>
</div>

<section id="score">
    <figure>
        <img src="" alt="Une coupe de champion"/>
        <figcaption>
            
        </figcaption>
    </figure>
    
</section>

<section id="classement">

</section>

{% endblock %}