{% extends 'base.html.twig' %}

{% block title %}New CatMort{% endblock %}

{% block body %}
    <h1>Create new CatMort</h1>

    {{ include('cat_mort/_form.html.twig') }}

    <a href="{{ path('app_cat_mort_index') }}">back to list</a>
{% endblock %}
