body {
    margin : 0;
    padding : 0;
}
#game {
    position: relative;
    display: flex;
}
#game canvas {
    display: flex;
}
#utilisateur {
    position: absolute;
    margin-left: -335px;
    margin-top: 950px;
}