#screenGame{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    
}
#background{
    background-color: #4fb2f8;
}
