body {
    margin : 0;
    padding : 0;
    /*background-color: black;*/
}
#score {
    position: absolute;
    padding: 10px;
    z-index: 2;
    margin-top: 2px;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 10px;
    right: 0;
    margin: 10px
}
.screenGame {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.screenGame canvas {
    display: flex;
}
#utilisateur {
    position: absolute;
    margin-left: -335px;
    margin-top: 950px;
}
#test {
    width: 20px;
    height: 20px;
    background:red;
    margin-top:1980px;
    position: absolute;
}
.buttonMove button, #start {
    padding: 25px;
    margin: 5px;
    border-radius: 50px;
    border: none;
    background-color: rgba(249, 255, 196, 0.685);
    border: rgba(128, 128, 128, 0.767) 2px solid;
}
.buttonMove {
    position: absolute;
    bottom: 0;
}
#buttonMoveRight {
    right: 0;
}
#button_left {
    right: 0;
}
#button_right {
    right: 0;
}
#info_Game {
    position: absolute;
    z-index: 2;
}
#imageTest{
    background-color: blueviolet;
}

/*pop up*/
.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  label{
    text-align: left;
  }
  
  h1{
    text-align: center;
    color: #999;
  }
  h2,
  p {
    margin: 0 0 20px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(182, 182, 182);
  }
 label{
    color:#eed7d7;
    font-family: Arial, Helvetica, sans-serif;
 }
  form {
    padding: 45px;
    margin: 200px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: rgba(32, 32, 32, 0.642);
  }
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    outline: none;
  }
  .contact-form button {
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: none;
    background: #292929;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(225, 225, 225);
  }
  button:hover {
    background: #ff0000;
  }
  .close {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 48px;
    font-weight: bold;
    margin-right: 220px;
  }
  .close:hover,
  .close:focus {
    color: rgb(235, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }
  button img{
    width: 50px;
    position: relative;
  }
  button.button {
    background: none;
    border: none;
    cursor: pointer;
  }
 